@{
    ViewBag.Title = "Ana Sayfa";
}

<h2>Oto Kiralama Platformuna Hoş Geldiniz!</h2>
<p>
    Bu uygulama ile araçları listeleyebilir, yeni araç ekleyebilir, düzenleyebilir ve silebilirsiniz.<br />
    Ayrıca kullanıcı girişi yaparak araç rezervasyonu oluşturabilirsiniz.
</p>

<ul>
    <li><a href="@Url.Action("Index", "Car")">Araç Listesi</a></li>
    <li><a href="@Url.Action("Create", "Car")">Araç Ekle</a></li>
    <li><a href="@Url.Action("Index", "Reservation")">Rezervasyonlar</a></li>

    <li><a href="@Url.Action("Login", "Account")">Giriş Yap</a></li>
    <a href="@Url.Action("Register", "Account")">Kayıt Ol</a>
</ul>